/*--------Reset basic elements for global variable----------*/
#dataForm{
	display: none;
}


@media (max-width: @screen-xs) {
    body{font-size: 10px;}

}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}




@media screen and (max-width: 760px) {
.btn-data{
	font-size: 10px;
}}



#web-url1 {
	color: red;
}
