{% block head %}

<meta name="googlebot" content="all"/>
<meta name="bingbot" content="all"/>
<meta name="duckduckbot" content="all"/>
<meta name="description" content= "Components is a Python application made from Flask framework. It is composed of different Python packages such as Flask-Bootstrap, WTForms, Flask-WTF, Flask-Nav, SQlite3 and BeautifulSoup">
<meta name="keywords" content="Flask, Flask-Bootstrap, Flask-WTF, WTForms, BeautifulSoup, SQlite3, Flask-Nav, Python programming, Arnel Imperial's Website">
<meta name="author" content="Arnel Imperial">
<link rel="canonical" href="http://localhost:5000">
<meta property="og:url" content="http://localhost:5000">
<meta property="og:site_name" content="Component" />
<meta name="HandheldFriendly" content="true" >
<link rel="shortcut icon" type="image/svg" href= "{{url_for('.static', filename='images/image10.svg')}}">
<link rel="stylesheet" type="text/css" href= "{{url_for('.static', filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
