{% extends "bootstrap/base.html" %}
{% include 'head.html' %}
{% block title%}
  Log-Out Page
{% endblock %}
{% include 'header.html' %}



{% block content %}
<div class="container pt-3 pb-3">

  <main>
    <div class="container pt-3 pb-3">
      <div class="jumbotron bg-dark text-success border border-success">
        <h4 class="display-4">See you guys next time..</h4>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Thank you...Gracias...Kiitoksia....Salamat.</p>

    </div>

    </div>

  </main>
</div>



{% endblock %}
